


#outerBorder {
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
   font-family: 'Trebuchet MS',Georgia,'Times New Roman',times,serif;
    font-weight: normal;
    color: #333333;
   
    font-size: 11px; 
   
}

#header {
    border-top: 0px;
    height:50px;
   
}

#subheader {
  
    clear:both;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    height:20px;
}

#subheader div {
    float:right;
}

#main {
    
    width: 100%;
    height: 100%;
    margin-top: 0px;
   
    
}

#content {
    margin: 0 0 0 16%;
   
    height: 100%;
    
   
}

#leftSidebar {
    float: left; 
    width: 15%;
    height:100%;
    border: 0px solid #000000;
}

#banner {
    
    margin: 0 20 0 0px;
    display:table-cell;
    vertical-align:middle;
    
}
#info{
    
}

